name: Docker Matrix1
on:
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ${{ matrix.os }}
    strategy:
      max-parallel: 1
      fail-fast: true
      matrix:
        os: [ubuntu-latest, windows-latest]
        images: [hello-world, windows-latest]

    steps:
      - name: Docker details
        run: docker info

      - name: Run image
        run: docker run ${{ matrix.images }}
